doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='/plugins/bootstrap-3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/plugins/font-awesome-4.5.0/css/font-awesome.min.css')
	body.custom-body
		include ./navbar.jade
		block content
	script(src='/plugins/jquery-2.1.4/jquery-2.1.4.min.js')
	script(src='/plugins/bootstrap-3.3.6/js/bootstrap.min.js')