div.container-fluid.custom-dropdown-menu
	form(action='/login', method='post')
		div.form-group
			label.control-label(for='email') Email
			input.form-control(type='text', id='email', name='email')
		div.form-group
			label.control-label(for='password') Password
			a.pull-right Forgot password?
			input.form-control(type='password', id='password', name='password')
		button.btn.btn-default(type='submit') Log in