nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
	div.container
		div.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbarLinks')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Logo
		div#navbarLinks.collapse.navbar-collapse
			if user
				ul.nav.navbar-nav.navbar-left
					li
						a.navbar-link(href='#')
							i.fa.fa-film
							|	
							span Anime
					li
						a.navbar-link(href='#')
							i.fa.fa-cubes
							|	
							span APIs
					li
						a.navbar-link(href='#')
							i.fa.fa-comment
							|	
							span Blog
					if user.admin
						li.dropdown
							a.navbar-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								i.fa.fa-dashboard
								|	
								span Admin
							ul.dropdown-menu
								li
									a(href='/admin/tasks') Tasks
								li
									a(href='/admin/tasks') Manage Users
				ul.nav.navbar-nav.navbar-right
					li
						a.navbar-link(href='/profile')
							span Hi, #{user.email}!
					li
						a.navbar-link(href='/logout')
							i.fa.fa-sign-out
							|	
							span Log out

			unless user
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.navbar-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							i.fa.fa-sign-in
							|	
							span Log in
						div.dropdown-menu
							include ./login.jade
					li.dropdown
						a.navbar-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							i.fa.fa-user-plus
							|	
							span Register
						div.dropdown-menu
							include ./register.jade