

extends layout

block stylesheets
	link(rel='stylesheet', href='/stylesheets/admin/tasks/index.css')
	link(rel='stylesheet', href='/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')

mixin table_header
	tr
		th
			i.fa.fa-warning
		th Title
		th Submitted
		th Completed
		th

mixin row(task)
	-
		var custom_attributes = {};
		for (var key in task) {
			if (task.hasOwnProperty(key)) {
				custom_attributes['data-' + key] = task[key].toString();
			}
		}
	tr.align-vertical&attributes(custom_attributes)
		td.priority(width='5%')
			if task.priority
				i.fa.fa-warning
		td.title= task.title
		td.submitted(width='15%')= moment(task.submitted).format('MMM Do YYYY')
		td.completed(width='15%')= task.completed ? moment(task.completed).format('MMM Do YYYY') : 'Not Complete'
		td(width='5%')
			button.delete.btn.btn-danger.pull-right
				i.fa.fa-trash

block content
	div.row
		div.col-xs-6
			ol.breadcrumb.filter
				li
					a(href='#') All
				li
					a(href='#') In Progress
				li
					a(href='#') High Priority
				li
					a(href='#') Complete
	div.row
		div.col-xs-12
			if tasks
				table.table
					thead
						+table_header
					tbody
						each task in tasks
							+row(task)
	div.row
		div.col-xs-12
			div.well.clearfix
				form.form-horizontal(id='taskForm')
					div.form-group
						div.col-xs-2
							label.pull-right.control-label Id
						div.col-xs-10
							input#id.form-control(name='id', disabled)
					div.form-group
						div.col-xs-2
							label.pull-right.control-label Title
						div.col-xs-10
							input#title.form-control(name='title')
					div.form-group
						div.col-xs-2
							label.pull-right.control-label Description
						div.col-xs-10
							textarea#description.form-control(name='description', rows='5')
					div.form-group
						div.col-xs-2
							label.pull-right.control-label Tags
						div.col-xs-10
							select#tags.form-control(name='tags', multiple="multiple")
					div.form-group
						div.col-xs-2
							label.pull-right.control-label In Progress?
						div.col-xs-10
							label.radio-inline
								input(type='radio', name='in_progress', value='true')
								|	Yes
							label.radio-inline
								input(type='radio', name='in_progress', value='false')
								|	No
					div.form-group
						div.col-xs-2
							label.pull-right.control-label Complete?
						div.col-xs-10
							input#complete.form-control(type='text')
					div.form-group
						div.col-xs-2
							label.pull-right.control-label High Priority?
						div.col-xs-10
							label.radio-inline
								input(type='radio', name='priority', value='true')
								|	Yes
							label.radio-inline
								input(type='radio', name='priority', value='false')
								|	No
					div
						div.col-xs-2
						div.col-xs-10(style='padding-left: 3px')
							button.btn.btn-primary.pull-left(type='submit')
								i.fa.fa-save
								|	Save

block javascripts
	script(src='/javascripts/admin/tasks/index.js')
	script(src='/plugins/moment/moment.min.js')
	script(src='/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')