* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
  padding-top: 75px;
}

a {
  color: #00B7FF;
}

.debug-border {
	border-color: red;
	border-style: solid;
}

.custom-body {
  background-color: #f2f2f2;
}

.custom-dropdown-menu {
  min-width: 280px;
}

/* override bootstrap vertical-align: top given to table cells*/
.table > tbody > tr.align-vertical > td {
	vertical-align: middle;
}

textarea {
  resize: none;
}